.card {
  background-color: #F4FF81;

  padding: 1em 0;
  margin: 0.5rem;

  min-height: 250px;
  min-width: 225px;
  flex-basis: 18%;

  border-radius: 5px;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;

  -moz-box-shadow:0px 8px 10px 2px rgba(33,33,33,1);
  -webkit-box-shadow: 0px 8px 10px 2px rgba(33,33,33,.7);
  box-shadow: 0px 8px 10px 2px rgba(33,33,33,.7);

}

.card:nth-of-type(4n+5) {
  -o-transform:rotate(-1.5deg);
  -webkit-transform:rotate(-1.5deg);
  -moz-transform:rotate(-1.5deg);
  position:relative;
  top:-2px;
  background:rgb(225, 204, 255);
}

.card:nth-of-type(3n+9){
  -o-transform:rotate(.5deg);
  -webkit-transform:rotate(.5deg);
  -moz-transform:rotate(.5deg);
  position:relative;
  top:5px;
  background:rgb(204, 255, 204);
}

.card:nth-of-type(4n+3){
  -o-transform:rotate(-1deg);
  -webkit-transform:rotate(-1deg);
  -moz-transform:rotate(-1deg);
  position:relative;
  top:5px;
  background: rgb(255, 220, 70);
}

.card:nth-of-type(4n+2){
  -o-transform:rotate(1deg);
  -webkit-transform:rotate(1deg);
  -moz-transform:rotate(1deg);
  position:relative;
  background: rgb(146, 228, 254);
}

.card__content {
  grid-column-start: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;
  font-weight: 100;
  overflow: hidden;
}

.card__content-text {
  max-height: 115px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__content-emoji {
  font-size: 3rem;
}

.card__content-text, .card__content-emoji {
  padding: 0;
  margin: 0;
}

.card__delete {
  align-self: start;
  font-family: 'Permanent Marker', Helvetica, sans-serif;
  cursor: pointer;
}

.card__update {
  align-self: end;
  grid-column: 3 / 3;
  font-family: 'Permanent Marker', Helvetica, sans-serif;
  cursor: pointer;
}
