/* The Modal (background) */
.update-card {
  background-color: rgb(229, 236, 215);

  padding: 1em 0;
  margin: 0.5rem;

  min-height: 250px;
  min-width: 225px;
  flex-basis: 18%;

  border-radius: 5px;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
}

.update-card__content {
  grid-column-start: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;
  font-weight: 100;
  overflow: hidden;
}

.update-card__content-text {
  max-height: 115px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  height: 50vh;
  width: 100%;
  font-size: 1.5em;
  border: none;
  background: inherit;
  margin: 0;
  text-align: center;
}

.update-card-form__form-select,
.update-card-form__form-textarea,
.update-card-form__form-button {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
}

.update-card-form__form-select {
  background: inherit;
  font-size: 3em;
  border: none;
}

.update-card-form__form-button {
  background-color: inherit;
  border: 1px solid black;
  font-size: 1em;
  height: 1.5em;
}
